<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Анализатор страниц</title>
    <link rel='stylesheet' href='/webjars/bootstrap/5.1.1/css/bootstrap.min.css'>
    <script src="/webjars/bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<section layout:fragment="content">
    <div class="container-lg mt-5">
        <h1>Сайты</h1>
        <table class="table table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th class="col-1">ID</th>
                <th>Ссылка</th>
                <th class="col-2">Последняя проверка</th>
                <th class="col-1">Код ответа</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="url : ${urls}" th:object="${url}">
                <td th:text="*{getId()}"></td>
                <td>
                    <a th:text="*{getName()}" th:href="@{/urls/{id}(id=*{getId()})}"></a>
                </td>
                <td th:if="*{getUrlChecks().isEmpty()}"></td>
                <td th:if="*{getUrlChecks().isEmpty()}"></td>
                <td th:unless="*{getUrlChecks().isEmpty()}"
                    th:text="*{#temporals.format(getUrlChecks().get(getUrlChecks().size() - 1).getCreatedAt(),
                     'dd/MM/yy HH:mm')}"
                >
                </td>
                <td th:unless="*{getUrlChecks().isEmpty()}"
                    th:text="*{getUrlChecks().get(getUrlChecks().size() - 1).getStatusCode()}"></td>
            </tr>
            </tbody>
        </table>
        <div class="container">
            <nav aria-label="Page navigation" th:if="${#lists.size(pages)}">
                <ul class="pagination justify-content-center mt-5">
                    <li th:class="'page-item' + ${currentPage <= 1 ? ' disabled' : ''}">
                        <a class="page-link" th:href="@{/urls(page=${currentPage - 1})}">Назад</a>
                    </li>
                    <li th:each="page : ${pages}" th:class="'page-item' + ${currentPage == page ? ' active' : ''}">
                        <a class="page-link" th:href="@{/urls(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:class="'page-item' + ${currentPage >= #lists.size(pages) ? ' disabled' : ''}">
                        <a class="page-link" th:href="@{/urls(page=${currentPage + 1})}">Вперед</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>